<header class="app-header">
  <div class="header-left">
    <img src="assets/img/logo.png" alt="Logo" class="header-logo" />
  </div>
  <span class="header-title">{{ appName }}</span>
  <div class="header-right">
    <div class="header-user">
      <div class="user-avatar" [title]="currentUser?.fullName || 'User'">
        <span class="user-initials">{{ userInitials }}</span>
      </div>
      <span class="user-name" *ngIf="currentUser?.fullName">{{ currentUser?.fullName }}</span>
      <button class="btn-logout" (click)="onLogout()" title="Sign out">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18" height="18">
          <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
        </svg>
      </button>
    </div>
  </div>
</header>
